* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body{
  font-family: utopia, sans-serif;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  color: #000000;
}

h3 {
  ;
  padding: 0;
}

#first-container {
  height: 100%;
  background-color: red;
}

#second-container {
  height: 60%;
  background-color: blue;
}

#third-container {
  height: 100%;
  background-color: green;
}
