* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: none;
  line-height: inherit;
  color: inherit;
}

body{
  font-family: utopia, sans-serif;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  color: #000000;


}

.above-header {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  height: 74px;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  margin-bottom: 30px;
}

.selfie {
  box-sizing: border-box;
  float: left;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  margin: auto 0;
}

h2 {
  text-align: center;
  box-sizing: border-box;
  display: block;
  font-size: 22px;
  position: relative;
  line-height: 35px;
}

.social-media {
  display: inline-block;
}


.main-header {
  display: flex;
  align-items: center;
  height: 74px;
  justify-content: space-between;
  padding: 0 20px 60px 20px;
}

nav {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  text-align: center;
  justify-content: space-between;
  list-style: none;
}

li {
  vertical-align: center;
}

li:hover {
  text-decoration: underline;
}

#hidden {
  visibility: hidden;
}

.logo {
  display: inline-block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
